{% extends "base.html" %} {% block content %}
<h1>Register for Blogz!</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" {% if field_inputs %} value="{{ field_inputs['username'] }}" {% endif %}>{% if errors['username'] %}<span class="errors"> {{ errors['username']}} </span>{% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password"> {% if errors['password'] %}<span class="errors"> {{ errors['password']}} </span>{% endif %}
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password"> {% if errors['match_password'] %}<span class="errors"> {{ errors['match_password']}} </span>{% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>
{% endblock %}